html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: bebas neue;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fin del reset */
header {
  border-bottom: #da8a0d 10px solid;
}

.cenic {
  font-size: 15px;
  z-index: 100;
  position: fixed;
  text-shadow: 0px -1px rgb(0, 0, 0);
}

div {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}
div #menu {
  display: flex;
  background-color: whitesmoke;
  color: black;
}
div #menu ul .nav-item2 a {
  background-color: #da8a0d;
}
div #menu ul li a {
  color: black;
}
div img {
  width: 150px;
  position: relative;
  top: 20px;
  padding-bottom: 40px;
  display: flex;
}

.section {
  justify-content: center;
  border-bottom: #da8a0d 10px solid;
  display: flex;
  flex-direction: row;
}
.section .rop {
  -webkit-animation: roll-in-left 6s ease-out both;
  animation: roll-in-left 6s ease-out both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: flex;
  margin-top: 8px;
}

@-webkit-keyframes roll-in-left {
  0% {
    transform: translateX(-750px);
  }
  100% {
    transform: translatex(920px);
  }
}

@keyframes roll-in-left {
  0% {
    transform: translateX(-750px);
  }
  100% {
    transform: translatex(920px);
  }
}
@-webkit-keyframes roll-in-left2 {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }
  100% {
    transform: translatex(1200px);
    opacity: 1;
  }
}
@keyframes roll-in-left2 {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }
  100% {
    transform: translatex(1200px);
    opacity: 1;
  }
}
h3 {
  text-align: center;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  background-color: #da8a0d;
  margin: 5% 5%;
  background-size: 120vw;
  border: #da8a0d solid 10px;
  gap: 10px;
  padding: 1%;
  border-radius: 10px;
  grid-template-areas: "img1 div2" "img1 div2";
}
#main div .img1 {
  width: 600px;
  display: grid;
  height: auto;
  grid-area: img1;
}
#main .div2 {
  display: grid;
  grid-area: div2;
  grid-row: auto;
  grid-template-areas: " img2" " img3";
}
#main .div2 .img2 {
  width: 200px;
  height: auto;
  display: grid;
  grid-area: img2;
}
#main .div2 .img3 {
  width: 200px;
  height: auto;
  display: grid;
  grid-area: img3;
}

footer {
  align-items: center;
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
}
footer #btn-inst {
  position: fixed;
  width: 90px;
  height: 75px;
  line-height: 63px;
  bottom: 110px;
  right: 25px;
  background: linear-gradient(90deg, rgb(246, 201, 31) 0%, rgb(234, 33, 7) 47%, rgb(185, 0, 151) 100%);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 70px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
footer img {
  width: 100vw;
}/*# sourceMappingURL=styles.css.map */